.navbar-light .logo .navbar-brand 
{
	color: #0072B5 !important;
}
.icons
{
	text-decoration: none;
	color: darkred;
	font-size: 25px;
}
header
{	
	position: relative;
}
#background
{
	opacity: 0.5;
	background-image: url("images/logo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
main .kart
{
background-color: #003666;
}
.iletbackground
{
	background-image: url("images/iletisim.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background background-attachment: fixed;
}
.iletrow
{
opacity: 0.5;

}


#carouselExampleIndicators
{
height: auto;
width: auto;
overflow: hidden;


}
.yukseklik
{

height: auto;



}
.mycolor
{
	color:#0072B5;
}
.myhobicards
{

text-decoration: none;
color: white;



}
.bckcolor
{
	background-color:#003666 ;
}
@media only screen and (min-width: 481px) {
.myslide
{

max-height: 500px !important;
opacity: 0.7;

}
#ytplayer
{
	width: 400px;
	height: 360px;





}
}
@media only screen and (max-width: 480px) {

.myslide
{
max-height: 177px !important;
opacity: 0.7;

}
#ytplayer
{
	width: 200px;
	height: 200px;





}


} 